<div style="float: left; width: 30%;">
    <div style="margin-left: 30%;margin-right: -88%; margin-top: 20%;">
        <span>Date Range:</span>
        <br>
        <span>
            <input type="text" ngxDaterangepickerMd
            startKey="start"
            endKey="end"
            [(ngModel)]="selected"
            [locale]="locale" 
            placeholder="Choose date" 
            showCancel="true" class="datepicker">
        </span>
    </div>
    <br>

    <mat-form-field style="margin-left: 30%;margin-right: -88%;">

        <mat-label>照護計畫</mat-label>
        <mat-select [(value)] = "selectedPlan">
          <mat-option *ngFor="let plan of planOption" [(value)]="plan.observetype" (onSelectionChange) = "selectedPlanChange($event)">
            {{plan.text}}
          </mat-option>
        </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field style="margin-left: 30%;margin-right: -88%;">
        <input matInput placeholder="檢驗項目" [value]="getSelectedType()" disabled ="true" style="color: black;">
    </mat-form-field>
    <br>
    <button mat-raised-button 
            style="margin-left: 30%;margin-right: -88%; margin-top: 3%;" 
            [disabled] = "generateDisabled()" (click) = generateClick()>產生圖表</button>
</div>
<div *ngIf = "chartGenerated"  style="float: left; margin-top: 3%;">
    <ngx-charts-line-chart
        [view]="view"
        [scheme]="colorScheme"
        [legend]="legend"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxis]="xAxis"
        [yAxis]="yAxis"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        [timeline]="timeline"
        [xScaleMin] = "xMin"
        [results]="multi"
        (select)="onSelect($event)"
        (activate)="onActivate($event)"
        (deactivate)="onDeactivate($event)">
    </ngx-charts-line-chart>
</div>